<div class="mt-[4.5rem] mx-4 lg:mx-auto lg:w-4/6">
  <div *ngIf="fetchedAnime != undefined; else loading">
    <div class="md:flex">
      <img class="w-full md:max-h-[420px]" [src]="fetchedAnime.images.jpg.large_image_url" [alt]="fetchedAnime.title_english + ' cover'" loading="lazy" fetchpriority="high">
      <div class="md:pl-4">
        <h1 class="text-3xl font-bold mt-2 mb-4 md:mt-0">{{ fetchedAnime.title_english }}</h1>
        <ul class="flex gap-x-2 gap-y-1 flex-wrap my-2">
          <li class="bg-background py-1 px-2 rounded-md text-sm font-light" *ngFor="let genre of fetchedAnime.genres">{{ genre.name }}</li>
        </ul>
        <!-- synopsis -->
        <div>
          <p class="text-sm" [ngClass]="showMoreDescription ? '' : 'h-[4rem] overflow-hidden'">{{ fetchedAnime.synopsis }}</p>
          <button class="underline" type="button" (click)="showMoreDescription = !showMoreDescription">{{ showMoreDescription ? 'read less...' : 'read more...' }}</button>
        </div>
      </div>
    </div>
    <!-- Popular Characters -->
    <h2 class="text-xl font-semibold mt-2 mb-4">Popular Characters</h2>
    <ul class="grid grid-cols-4 gap-2 mt-2 [&>*:nth-child(even)]:mt-4 md:[&>*:nth-child(even)]:mt-14 md:gap-8">
      <li class="col-span-1 text-xs" *ngFor="let character of popularCharacters">
        <img class="rounded-full shadow-black shadow-sm w-full" [src]="character.character.images.jpg.image_url" alt="Character image" loading="lazy">
      </li>
    </ul>
    <!-- Videos -->
    <h3 class="text-xl font-semibold mt-2 mb-4">Videos</h3>
    <ul *ngIf="fetchedAnimeVideos; else areThereVideos" class="grid grid-cols-2 gap-2 lg:grid-cols-3">
      <li class="flex justify-center" *ngFor="let video of fetchedAnimeVideos">
        <button class="relative" type="button" (click)="setUpVideo(video.trailer.embed_url)">
          <img class="border" [src]="video.trailer.images.medium_image_url" [alt]="video.title" loading="lazy">
          <img class="w-10 h-10 absolute top-1/2 left-1/2 z-10 -translate-x-1/2 -translate-y-1/2 drop-shadow-md shadow-black" src="../../assets/icons/play.svg">
        </button>
      </li>
    </ul>
    <!-- Video Modal -->
    <div *ngIf="showModal" tabindex="-1" aria-hidden="true">
      <div class="h-screen w-screen fixed top-0 left-0 bg-gray-600/80 flex flex-col justify-center z-20">
        <div>
          <button class="text-white py-4 px-4 text-left" type="button" (click)="closeVideo()">Close</button>
          <iframe class="w-full aspect-video" src="" id="video" allow="autoplay" frameborder="0"></iframe>
        </div>
      </div>
    </div>
    <!-- Fallback if there are no videos -->
    <ng-template #areThereVideos>
      <span class="text-red-500">No videos were found for this anime.</span>
    </ng-template>
    <!-- Recommended -->
    <h4 class="text-xl font-semibold mt-2 mb-4">Liked {{ fetchedAnime.title_english }}? Here are some similar recommendations!</h4>
    <ul class="flex overflow-x-scroll gap-2">
      <li class="flex-shrink-0 h-auto w-[30%] lg:w-[25%]" *ngFor="let anime of fetchedAnimeRecommendations">
        <a [routerLink]="'/anime/' + anime.entry.mal_id" (click)="scrollToTop()">
          <img class="w-full h-[10rem] md:h-[20rem] lg:h-[25rem]" [src]="anime.entry.images.jpg.image_url" [alt]="anime.entry.title + ' cover'" loading="lazy">
          <span class="text-sm">{{ anime.entry.title }}</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- If there is no anime fetched or if the ID is incorrect -->
  <ng-template #loading>
    Loading...
  </ng-template>
</div>
